@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/assets/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Italic.woff2') format('woff2'),
    url('/assets/fonts/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
}

body,
p,
span,
div,
label,
input,
textarea,
select {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section__title {
  font-weight: 600;
}

:root {
  --background: 0 0% 100%;
  --foreground: 200.38 76.81% 13.53%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 130.56 49.41% 49.61%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 200.38 76.81% 13.53%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 217.2 91.2% 59.8%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --chart-1: 221.2 83.2% 53.3%;
  --chart-2: 212 95% 68%;
  --chart-3: 216 92% 60%;
  --chart-4: 210 98% 78%;
  --chart-5: 212 97% 87%;
  --sidebar-background: 221 39% 11%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

.bg-radial-gradient {
  background-image: radial-gradient(76.88% 120.64% at 52.26% 50.97%, #FFFFFF 0%, #DFEAFF 100%);
}

.section-space-y {
  @apply py-16 md:py-24 xl:py-32;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold !leading-[1.1];
}

h1 {
  @apply text-4xl md:text-4xl lg:text-[52px];
}

h2 {
  @apply text-2xl md:text-3xl lg:text-[40px];
}

h3 {
  @apply text-xl md:text-2xl lg:text-[32px];
}

h4 {
  @apply text-lg md:text-xl lg:text-[24px];
} 

.form-group {
  @apply mb-4;

  label {
    @apply block text-gray-700 text-sm font-medium mb-1;
  }

  .form-control {
    @apply w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50;

    &.is-invalid {
      @apply border-red-500 focus:border-red-500 focus:ring-red-500;
    }
  }

  .error-message {
    @apply mt-1 text-sm text-red-500;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-red-500 {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

.markdown-text {
  h1 {
    @apply text-2xl font-bold text-red-500;
  }

  h2 {
    @apply text-xl font-bold text-foreground;
  }

  p {
    @apply text-xs lg:text-base text-muted-foreground;

    + :is(ol, ul) {
      margin-top: .5rem;
    }
  }

  ol,
  ul {
    @apply text-xs lg:text-base text-muted-foreground;
    padding-left: 1.1em;
    line-height: 1.5;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: circle;
  }

  strong {
    @apply text-foreground;
  }

  >*+* {
    margin-top: 1rem;
  }
}