node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.dev
.env.prod
.env.remote
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.vscode
.idea
*.log
dist
build
.next
.nuxt
.cache
.temp
.tmp
